<div class="content">
    <div class="cab-card">
        <i class="fa-solid fa-cart-shopping"></i>
        <p>Cantidad a comprar del producto seleccionado</p>
        <span (click)="cerrarModal()"><i class="fa-solid fa-rectangle-xmark"></i></span>
    </div>
    <p-divider></p-divider>
    <div class="body-card">
        <div class="card_3 card-1_3">
            <img src="{{data.RutaImagen}}" alt="">
        </div>
        <div class="card_3 card-2_3">
            <p>{{data.Descripcion}}</p>
        </div>
        <div class="card_3 card-3_3">
            <div class="precio">
                <h1>${{data.Precio_3 | number:'1.2-2' }}</h1>
            </div>
            <div class="ctrl-cantidad">
                <button (click)="restarCantidad()">-</button>
                <input type="number" [(ngModel)]="cantidadComprar" />           
                <button (click)="sumarCantidad()">+</button>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="pie-card">
        <button (click)="seguirComprando()">Aceptar y Seguir Comprando</button>
        <button (click)="irAlCarro()">Aceptar e ir al Carro de Compras</button>
    </div>
</div>