<div class="content">
    <div class="logo">
        <i class="fa-brands fa-twitter img"></i>
        <span>CEMPLAY</span>
    </div>
    <div class="items">
        <button routerLink="inicio" class="item">
            Inicio
        </button>
        <button routerLink="about" class="item">
            Quiénes Somos
        </button>
        <button routerLink="prodser" class="item">
            Productos y Servicios
        </button>
        <button routerLink="contacto" class="item">
            Contacto
        </button>
        <button routerLink="catalogo" class="item">
            Tienda
        </button>
        <button routerLink="acceder" class="item">
            Acceder
        </button>
    </div>
    
</div>
