<div class="content">
    <div class="body-card">
        <div class="card-1_3">
            <img src="{{data.RutaImagen}}" alt="">
        </div>
        <div class="card-2_3">
            <p>{{data.Descripcion}}</p>
        </div>
        <div class="card-3_3">
            <div class="precio">
                <h1>${{data.Precio_3 | number:'1.2-2' }}</h1>
            </div>
            <div class="ctrl-cantidad">
                <button (click)="restarCantidad()">-</button>
                <input type="number" [(ngModel)]="data.cantidad" />           
                <button (click)="sumarCantidad()">+</button>
            </div>
            <div class="precio">
                <h2>${{data.Precio_3*data.cantidad | number:'1.2-2' }}</h2>
            </div>
        </div>
        <div class="eliminar" (click)="quitarDeCarrito(data)">
            <i class="fa-solid fa-trash-can"></i>
        </div>

    </div>
    <p-divider></p-divider>
</div>