<div class="content-home-p">
    <app-cabecera class="cab-p"></app-cabecera>
    <app-menu></app-menu>
    <router-outlet class="body-p"></router-outlet>
    <app-pie></app-pie>
</div>
<div class="btn-social">
    <a class="btn-whatsapp" href="https://api.whatsapp.com/send/?phone=593968170965" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-whatsapp"></i>
    </a>
    <a class="btn-facebook" href="https://www.facebook.com/cemplaysoluciones" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-facebook"></i>
    </a>
</div>

