<div class="content">
    <div class="info">
        <span>Tungurahua - Ecuador</span>
    </div>
    <div class="logo">
        <i class="fa-brands fa-twitter img"></i>
        <span>CEMPLAY</span>
    </div>
    <div class="iconos">
        <i class="fa-brands fa-facebook icon"><a href="https://www.facebook.com/cemplaysoluciones"></a></i>
        <i class="fa-brands fa-whatsapp icon"><a href=""></a></i>
        <i class="fa-solid fa-phone-volume icon"><span>09999999</span></i>
    </div>
</div>
