<div class="content">
    <div routerLink="" class="logo">
        <i class="fa-brands fa-twitter img"></i>
        <span>CEMPLAY</span>
    </div>
    <div class="busqueda">
        <div class="grupo">
            <input type="text" class="text" placeholder="Que desea encontrar?">
            <i class="fa-solid fa-magnifying-glass img"></i>
        </div>
    </div>
    <div class="iconos">
        <div (click)="home()" >
            <i class="fa-solid fa-house"></i>
        </div>
        <div (click)="irAlCarro()">
            <i class="fa-solid fa-cart-shopping icono" ></i>
        </div>     
        <div>
            <i class="fa-regular fa-user icono"></i>
        </div>
        
    </div>
</div>
